*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.icon1 {
    width:50px;
    height:50px;
    position:absolute;
    left:1.8vw;
    top:1.9vw;
}

.head1 {
    height:7vw;
    width:80%;
    padding:25px;
    border-radius:25px;
    background:rgba(255,255,255,0.18);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.25);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    color:black;
    position:absolute;
    left:10%;
    top:2%;
}

.card{
    position:absolute;
    left:10%;
    top:30%;
    width:12%;
    padding:25px;
    border-radius:25px;
    background:rgba(255,255,255,0.18);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.25);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    color:white;
}

.card-title{
    display:flex;
    align-items:center;
    gap:18px;
    font-size:0.9vw;
    font-weight:bold;
    color:#55d8ff;
    cursor:pointer;
}

.arrow{
    width:36px;
    height:36px;
    border-radius:50%;
    border:1px solid #55d8ff;
    position:relative;
    transition:.3s;
}

.arrow:after{
    content:"";
    position:absolute;
    left:12px;
    top:10px;
    width:9px;
    height:9px;
    border-right:3px solid #55d8ff;
    border-bottom:3px solid #55d8ff;
    transform:rotate(-45deg);
    transition:.3s;
}

.items{
    display:grid;
    grid-template-columns:column;
    gap:20px;
    margin-top:25px;
    overflow:hidden;
    max-height:0;
    transition:.5s;
}

.items a{
    height:65px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:white;
    font-size:0.8vw;
    border-radius:12px;
    background:rgba(20,30,50,.55);
    border:1px solid rgba(255,255,255,.2);
    transition:.3s;
}

.items a:hover{
    background:rgba(255,255,255,.25);
    transform:translateY(-3px);
}

.card.active .items{
    max-height:500px;
}

.card.active .arrow:after{
    transform:rotate(45deg);
    top:7px;
}

body {
  background-image: url('.../images/Celeste1.png');
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh;         
  background-attachment: fixed; 
}

h1 {
    position:absolute;
    left:15%;
    top:6%;
}
